body {
	font-family: sans-serif;
	padding-top: 50px;
}

/**
 *	Header styles
 **/

#search input,
#search button
{
	color: grey;
	background-color: transparent;
	border-color: transparent;
	font-size: 14px;
	line-height: 14px;
	outline: 0px;
}

/**
 *	Product Info styles
 **/

.rating{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.rating li{
	position: relative;
	float: left;
}

.rating .off{
	color: grey;
}

.rating a{
	font-size: 14px;
}

.product-info

.size{
	width: 30%;
}

.add-cart{
	width: 70%;
}

.jumbotron{
	margin-bottom: 0px !important;
}

/**
 *	Footer styles
 **/

.page-footer{
	border-top-color: rgb(211,211,211) !important;
	border-top: 1px solid;
	padding-top: 20px;
}

.author{
	margin-top: 5px;
	margin-left: 20px;
}

.page-footer a:hover{
	text-decoration: none;
	color: grey;
}