body {
	font-family: sans-serif;
	padding-top: 50px;
}

.center{
 	text-align: center;
 }

/**
 *	Header styles
 **/

#search input,
#search button
{
	color: grey;
	background-color: transparent;
	border-color: transparent;
	font-size: 14px;
	line-height: 14px;
	outline: 0px;
}

/**
 *	Cart styles
 **/
.cart a{
	color: rgb(160,160,160) !important;
}

.cart a:hover{
	background-color: transparent !important;
	color: white !important;
}

.cart{
	width: 280px;
	background-color: rgb(20,20,20) !important;
}

.cart li{
 	font-size: 12px;
 }

.cart img{
	margin-left: 5px;
}

.pay h3{
	margin-top: 10px;
	margin-bottom: 0px
}

/**
 *	Product Info styles
 **/

.rating{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.rating li{
	position: relative;
	float: left;
}

.rating .off{
	color: grey;
}

.rating a{
	font-size: 14px;
}

.product-info

@media (min-width: 992px){
	.size{
		margin-top: 40px;
	}
}

.size{
	width: 15%;
	background-color: white;
	border-color: grey;
	font-size: 16px;
	border-radius: 5px;
	height: 50px;
}

.add-cart{
	width: 80%;
	height: 50px;
}

.jumbotron{
	margin-bottom: 0px !important;
}

/**
 *	Footer styles
 **/

.page-footer{
	border-top-color: rgb(211,211,211) !important;
	border-top: 1px solid;
	padding-top: 20px;
}

.author{
	margin-top: 5px;
	margin-left: 20px;
}

.page-footer a:hover{
	text-decoration: none;
	color: grey;
}

.navbar-bottom{
	background-color: transparent !important;
}