body {
	font-family: sans-serif;
	padding-top: 50px;
}

.center{
 	text-align: center;
 }

/**
 *	Header styles
 **/

#search input,
#search button
{
	color: grey;
	background-color: transparent;
	border-color: transparent;
	font-size: 14px;
	line-height: 14px;
	outline: 0px;
}

/**
 *	Cart styles
 **/

header .dropdown-menu{
	background-color: rgb(34,34,34); !important;	
}

header .dropdown-menu a{
	color: rgb(160,160,160) !important;
}

header .dropdown-menu a:hover{
	background-color: transparent !important;
	color: white !important;
}

.cart{
	width: 280px;
}

.cart li{
 	font-size: 12px;
 }

.cart img{
	margin-left: 5px;
}

.pay h3{
	margin-top: 10px;
	margin-bottom: 0px
}

/**
 *	Product Info styles
 **/

.rating{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.rating li{
	position: relative;
	float: left;
}

.rating .off{
	color: grey;
}

.rating a{
	font-size: 14px;
}

@media (min-width: 992px){
	.size{
		margin-top: 40px;
	}
}

.size{
	width: 15%;
	background-color: white;
	border-color: grey;
	font-size: 16px;
	border-radius: 5px;
	height: 50px;
}

.add-cart{
	width: 80%;
	height: 50px;
}

.jumbotron{
	margin-bottom: 0px !important;
}

/**
 *	Footer styles
 **/

.page-footer{
	border-top-color: rgb(211,211,211) !important;
	border-top: 1px solid;
	padding-top: 20px;
}

.author{
	margin-top: 5px;
	margin-left: 20px;
}

.page-footer a:hover{
	text-decoration: none;
	color: grey;
}

.navbar-bottom{
	background-color: transparent !important;
}

/**
 *	Side NavBar styles
 **/

.sidebar-nav{
	margin-bottom: 0px !important;
	padding-bottom: 10px;
}

#sidenav .menu-head{
	margin: 10px 0px;
}

#sidenav a{
	padding: 0px 0px 0px 10px !important;
}

#sidenav a:hover{
	background-color: transparent !important;	
}

#sidenav .size-menu{
	padding: 0px;
	list-style: none;
	position: relative;
}

#sidenav .size-menu li{
	float: left;
	padding-right: 7px;
}

.color-menu div{
	line-height: 16px;
	margin-bottom: 10px;
}

/**
 *	showroom styles
 **/

#products-showroom{
	margin: 40px 0px 20px 0px;
}

.product-window{
	margin-bottom: 20px;
}

.product-window a{
	color: black;
}

.product-window a:hover{
	text-decoration: none;
	color: grey;
}

/**
 *	Homepage styles
 **/

 #homepage{
 	background-color: rgb(44,44,44);
 }

 #carousel-example-generic{
 	margin-top: 50px;
 	margin-bottom: 50px;
 	max-width: 636px;
 	margin-left: auto;
 	margin-right: auto;
 }

 #carousel-example-generic .carousel-caption{
 	text-align: right;
 }


